/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
}

/* Common CSS */
body {
  width: 100%;
  min-height: 100vh;
  color: #222;
  font-size: 62.5%;
  background: #fff;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.inner {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  padding: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 800;
}
h2 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
}
h2.dot::before {
  content: '';
  position: absolute;
  left: -15px;
  top: -7px;
  width: 15px;
  height: 15px;
  background: #8088DC;
  border-radius: 50%;
}
.heading {
  position: relative;
  margin-bottom: 70px;
  text-align: center;
}
.heading h1 {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.heading span {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  color: #8088DC;
}
.heading h1::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #8088DC;
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  .container {
    min-width: 600px;
    margin: 0 auto;
  }
  .inner {
    width: 540px;
    padding: 25px;
  }
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background: #FFF;
  z-index: 999;
}
header .inner {
  height: 60px;
  padding: 0 50px;
}
header .logo {
  float: left;
  height: 100%;
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
}
.dark-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 5%;
  min-width: 50px;
  height: 100%;
}
.dark-theme-btn {
  position: relative;
  width: 85%;
  height: 40%;
  float: right;
  background: #222;
  border: 1px solid #555;
  border-radius: 30px;
  cursor: pointer;
}
.dark-theme-btn .toggle {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: 70%;
  background: #fff;
  border-radius: 50%;
  transform: translate(30%, -50%);
  transition: transform 0.4s;
}
.dark-theme-btn.active {
  background: #fff;
}
.dark-theme-btn.active .toggle {
  background: #555;
  transform: translate(200%, -50%);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 62%;
  min-width: 340px;
  float: right;
}
nav::after {
  content: '';
  clear: both;
}
nav a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.trigger-menu {
  display: none;
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  header .inner {
    padding: 0 20px;
  }
  nav {
    width: 360px;
    height: 100vh;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    background: #fff;
    border-radius: 30px 0 0 30px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  }
  nav a {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 0 50px;
    font-size: 30px;
    font-weight: 200;
  }
  nav a:hover {
    background: #e1e3f1;
  }
  .dark-theme {
    float: right;
    margin-right: 30px;
  }
  .trigger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
  .trigger-menu .icon {
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .trigger-menu .icon .bar {
    width: 100%;
    height: 4px;
    background: #222;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  .trigger-menu:hover {
    cursor: pointer;
  }
  .trigger-menu:hover .icon .bar:nth-child(2) {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
  }
  /* Mobile Trigger Menu */
  .container.triggerOn::before {  /* Overay */
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  .container.triggerOn nav {
    display: block;
  }
  .trigger-menu.triggerOn .icon {
    display: block;
  }
  .trigger-menu.triggerOn .icon .bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .trigger-menu.triggerOn .icon .bar:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .trigger-menu.triggerOn .icon .bar:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  .trigger-menu.triggerOn .icon .bar:nth-child(2) {
    display: none;
  }
  .trigger-menu.triggerOn .icon:hover .bar:nth-child(1) {
    transform: rotate(0deg);
  }
}

/* Intro Section */
.intro {
  padding-top: 140px;
}
.intro .flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.intro-heading {
  flex-basis: 40%;
}
.intro-heading h1 {
  color: #2f2f2f;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
}
.intro-heading h1 span {
  color: #8088DC;
}
.intro-heading p {
  margin-top: 50px;
}
.intro-heading p span {
  padding-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.intro-heading p span:hover {
  color: #ED4C67;
  cursor: default;
}
.intro-img {
  position: relative;
  flex-basis: 40%;
}
.intro-img img {
  width: 95%;
}
.intro-img::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width: 60%;
  height: 90%;
  background: #FFB2CD;
  border-radius: 47% 53% 59% 41% / 47% 37% 63% 53% ;
  z-index: -1;
  animation: up-to-down 3s infinite;
}
@keyframes up-to-down {
  0% {
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  50% {
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%,-60%);
    -moz-transform: translate(-50%,-60%);
    -ms-transform: translate(-50%,-60%);
  }
  100% {
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  .intro .inner {
    flex-direction: column;
    padding: 0;
  }
  .intro-heading {
    flex-basis: 100%;
  }
  .intro-img {
    flex-basis: 100%;
    margin-top: 60px;
    padding: 30px;
  }
}

/* Portfolio 1 : Website Works Section */
.web-works .tabmenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto 100px;
}
.web-works .tabmenu li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.web-works .tabmenu li::after {
  content: '';
  width: 70%;
  height: 3px;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: #8088DC;
}
.web-works .tabmenu li:hover::after,
.web-works .tabmenu li.active::after {
  display: block;
  animation: line 0.3s linear forwards;
}
.web-works .tabmenu li a {
  display: inline-block;
  padding: 5px 20px;
  width: 100%;
  height: 100%;
  color: #2f2f2f;
  font-size: 21px;
}
.web-works .tabmenu li:hover a,
.web-works .tabmenu li.active a {
  color: #8088DC;
}
.web-box {
  position: relative;
  height: 330px;
}
.web-content {
  position: absolute;
  display: none;
}
.web-content.active {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.web-content .left {
  width: 45%;
  max-height: 330px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.web-content .left img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  object-fit: cover;
}
.web-content .left img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.web-content .right {
  display: flex;
  flex-direction: column;
  width: 48%;
  max-height: 330px;
  margin-left: 30px;
  padding: 10px;
}
.web-content .right p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 25px;
  padding-right: 40px;
}
.web-content .right .btns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.web-content .right .btns a {
  position: relative;
  margin-right: 30px;
  padding: 5px 45px 5px 20px;
  background: #fff;
  color: #222;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
}
.web-content .right .btns a:last-child {
  margin-right: 0;
}
.web-content .right .btns a::after {
  content: '\f178';
  font-family: FontAwesome;
  font-weight: 100;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transition: 0.4s;
}
.web-content .right .btns a:hover::after {
  right: 8px;
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  .web-box {
    height: 700px;
  }
  .web-works .tabmenu {
    margin: 0 auto 50px;
  }
  .web-content .left {
    width: 100%;
    margin-bottom: 60px;
  }
  .web-content .right {
    width: 100%;
    padding: 0 30px;
    margin-left: 0;
    text-align: center;
  }
  .web-content .right h2 {
    width: fit-content;
    margin: 0 auto;
  }
  .web-content .right .btns {
    margin: 50px auto;
  }
  .web-content .right .btns a {
    font-size: 18px;
    font-weight: 300;
  }
  .web-content.active {
    display: flex;
    flex-direction: column;
  }
}

/* Portfolio 2 : Publishing Application Section */
.publish-works {
  margin-bottom: 0;
  padding-bottom: 100px;
}
.publish-works .inner {
  padding: 100px 0;
}
.publish-content {
  display: flex;
  padding-bottom: 50px;
}
.publish-content .tabmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 28%;
  height: 300px;
  background: #8088DC;
}
.publish-content .tabmenu li {
  width: 100%;
  text-align: right;
}
.publish-content .tabmenu li a {
  display: block;
  padding: 0 40px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}
.publish-content .tabmenu li:hover a,
.publish-content .tabmenu li.active a {
  color: #F3DD44;
  cursor: pointer;
}
/* Item Slider */
.publish-content .items-wrap {
  position: relative;
  width: 70%;
  height: 300px;
}
.publish-content .items {
  display: none;
  height: 300px;
}
.publish-content .items.active {
  display: block;
}
.publish-content .item {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  margin-right: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 5px;
  overflow: hidden;
}
.publish-content .items .item::after { 
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  transition: opacity 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
}
.publish-content .items .item:hover::after {
  opacity: 1;
  visibility: visible;
}
.publish-content .item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.publish-content .item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  object-fit: cover;
}
.publish-content .items .item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.publish-content .items .item:hover span {
  width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  color: #fff;
  font-size: 20px;
  text-align: center;
  pointer-events: none; 
  z-index: 2;
}
.publish-content .items .item:hover span {
  display: block;
  font-size: 20px;
}
/* Slick Slider CSS */
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  padding: 0 80px;
}
.slick-dots {
  margin-top: 15px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin-right: 10px;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li button {
  width: 15px;
  height: 15px;
  border: 1px solid #8088DC;
  border-radius: 50%;
  background: #eee;
  font-size: 0;
  cursor: pointer;
}
.slick-dots .slick-active button {
  background: #8088DC;
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  .publish-works .inner {
    width: 540px;
    padding: 25px;
  }
  .publish-content {
    height: 700px;
    flex-direction: column;
  }
  .publish-content .tabmenu {
    width: 490px;
    height: auto;
    display: block;
    margin: 0 auto 100px;
    background: transparent;
    text-align: center;
  }
  .publish-content .tabmenu li {
    width: fit-content;
    display: inline-block;
    position: relative;
    margin: 0 10px;
    padding: 5px 20px;
    color: #222;
    font-size: 21px;
  }
  .publish-content .tabmenu li a {
    color: #2f2f2f;
  }
  .publish-content .tabmenu li:hover a,
  .publish-content .tabmenu li.active a {
    color: #8088DC;
    cursor: pointer;
  }
  .publish-content .tabmenu li::after {
    content: '';
    width: 70%;
    height: 3px;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #8088DC;
  }
  .publish-content .tabmenu li:hover::after,
  .publish-content .tabmenu li.active::after {
    display: block;
    animation: line 0.3s linear forwards;
  }
  .publish-content .items-wrap {
    width: 100%;
  }
  .publish-content .item {
    display: inline-block;
    margin-right: 30px;
  }
  .slick-track {
    padding: 0 20px;
  }
}

/* Skills Section */
.skill-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.skill-box .item {
  flex-basis: 40%;
  padding: 50px 45px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
}
.skill-box .item:hover:nth-child(even) {
  transform: skewX(5deg) skewY(-5deg);
  -webkit-transform: skewX(5deg) skewY(-5deg);
  -moz-transform: skewX(5deg) skewY(-5deg);
  -ms-transform: skewX(5deg) skewY(-5deg);
}
.skill-box .item:hover:nth-child(odd) {
  transform: skewX(-5deg) skewY(5deg);
  -webkit-transform: skewX(-5deg) skewY(5deg);
  -moz-transform: skewX(-5deg) skewY(5deg);
  -ms-transform: skewX(-5deg) skewY(5deg);
}
.skill-box .item .icon {
  margin-bottom: 20px;
}
.skill-box .item .icon i {
  font-size: 50px;
}
.skill-box .item:nth-child(1) .icon i {
  font-size: 60px;
  color: #ED4C67;
}
.skill-box .item:nth-child(2) .icon i {
  font-size: 60px;
  color: #EE5A24;
}
.skill-box .item:nth-child(3) .icon i {
  color: #A3CB38;
}
.skill-box .item:nth-child(4) .icon i {
  font-size: 45px;
  color: #FFC312;
}
.skill-box .item:nth-child(5) .icon i {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  background: #12CBC4;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  line-height: 45px;
}
.skill-box .item:nth-child(6) .icon i {
  font-size: 45px;
  color: #8088DC;
}
.skill-box .item .text h2 {
  margin-bottom: 5px;
}
.skill-box .item .text p {
  font-size: 15px;
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  .skill-box {
    width: 100%;
  }
  .skill-box .item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
    padding: 10px;
    background: transparent;
    box-shadow: none;
  }
  .skill-box .item .icon {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 0;
    text-align: center;
  }
  .skill-box .item .text {
    width: 60%;
  }
  .skill-box .item:hover .icon {
    transform: scale(1.2);
  }
  .skill-box .item:hover:nth-child(even),
  .skill-box .item:hover:nth-child(odd) {
    transform: none;
  }
}

/* About Section */
.about {
  background: #eaeefc;
}
.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-box .left {
  width: 40%;
}
.about-box .left .left-inner {
  width: 100%;
}
.about-box .right {
  width: 55%;
  padding: 30px;
  padding-right: 60px;
}
.profile-img {
  position: relative;
  width: 100%;
  min-width: 120px;
  margin-bottom: 10px;
  text-align: center;
}
.profile-img img {
  width: 100%;
  height: 100%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.profile-sns {
  margin-bottom: 20px;
  text-align: center;
}
.profile-sns .github {
  display: inline-block;
  color: #2f2f2f;
  font-size: 32px;
  vertical-align: middle;
}
.profile-sns .github:hover {
  color: #ED4C67;
}
.profile-sns .email {
  display: inline-block;
  color: #2f2f2f;
  font-size: 16px;
  vertical-align: middle;
}
.profile-sns .email:hover {
  color: #ED4C67;
}
.profile-edu p {
  margin: 15px auto;
  font-size: 15px;
}
.about-box .right li {
  margin-bottom: 60px;
}
.about-box .right li:last-child {
  margin-bottom: 0;
}
.about-box .right li h2 {
  margin-bottom: 10px;
  font-size: 21px;
}
.about-box .right li p {
  font-size: 15px;
}
/* Mobile Media Query */
@media screen and (max-width:767px) {
  .about-box {
    flex-direction: column;
  }
  .about-box .left {
    width: 100%;
  }
  .about-box .left .left-inner {
    width: 400px;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
  }
  .profile-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
  }
  .profile-img img {
    width: 100%;
    height: 100%;
  }
  .profile-img::before,
  .profile-img::after {
    display: none;
  }
  .profile-sns .github {
    position: absolute;
    right: 90px;
    top: 30px;
  }
  .profile-sns .email {
    margin: 0 auto;
  }
  .profile-edu {
    margin-top: 30px;
    text-align: center;
  }
  .about-box .right {
    width: 100%;
    padding: 0;
  }
  .about-box .right li {
    width: 400px;
    height: auto;
    position: relative;
    margin: 30px auto;
    padding: 35px;
    background: #fff;
    border-radius: 15px;
  }
}

/* Featherlight CSS */
.featherlight iframe {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%  !important;
  position: absolute  !important;
  left: 0;
  top: 0;
  margin: 0  !important;
  padding: 0;
  overflow: hidden;
}
.featherlight .featherlight-close-icon {
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  right: 40px  !important;
  top: 15px  !important;
  font-size: 36px;
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
}
.featherlight .featherlight-close-icon:hover {
  color: red;
}

/* Dark Theme CSS */
body[data-theme="dark"] {
  color: #EEEEEE;
  background: #222;
}
body[data-theme="dark"] header {
  background: #2f2f2f;
}
body[data-theme="dark"] header .logo,
body[data-theme="dark"] nav a {
  color: #EEEEEE;
}
body[data-theme="dark"] h2.dot::before {
  background: #D65A31;
}
body[data-theme="dark"] .heading span {
  color: #D65A31;
}
body[data-theme="dark"] .heading h1::after {
  background: #D65A31;
}
body[data-theme="dark"] .intro-heading h1 {
  color: #EEEEEE;
}
body[data-theme="dark"] .intro-heading h1 span {
  color: #D65A31;
}
body[data-theme="dark"] .intro-heading p span:hover {
  color: #D65A31;
}
body[data-theme="dark"] .web-works .tabmenu li a {
  color: #EEEEEE;
}
body[data-theme="dark"] .web-works .tabmenu li::after {
  background: #D65A31;
}
body[data-theme="dark"] .web-content .right .btns a {
  background: #EEEEEE;
}
body[data-theme="dark"] .publish-content .tabmenu {
  background: #D65A31;
}
body[data-theme="dark"] .publish-content .tabmenu li:hover a,
body[data-theme="dark"] .publish-content .tabmenu li.active a {
  color: #205375;
}
body[data-theme="dark"] .slick-dots li button {
  border: 1px solid #D65A31;
}
body[data-theme="dark"] .slick-dots .slick-active button {
  background: #D65A31;
}
body[data-theme="dark"] .skill-box .item {
  background: #eee;
}
body[data-theme="dark"] .skill-box .item .text h2,
body[data-theme="dark"] .skill-box .item .text p {
  color: #222;
}
body[data-theme="dark"] .about h1,
body[data-theme="dark"] .about h2,
body[data-theme="dark"] .about p {
  color: #222;
}
body[data-theme="dark"] .about {
  background: #D65A31;
}
body[data-theme="dark"] .about h2.dot::before {
  background: #eee;
}
body[data-theme="dark"] .about .heading h1::after {
  background: #eee;
}
body[data-theme="dark"] .profile-sns .github:hover,
body[data-theme="dark"] .profile-sns .email:hover {
  color: #eee;
}

@media screen and (max-width:767px) {
  body[data-theme="dark"] .trigger-menu .icon .bar {
    background: #EEEEEE;
  }
  body[data-theme="dark"] .publish-content .tabmenu {
    background: transparent;
  }
  body[data-theme="dark"] .publish-content .tabmenu li::after {
    background: #D65A31;
  }
  body[data-theme="dark"] .publish-content .tabmenu li a {
    color: #EEEEEE;
  }
  body[data-theme="dark"] .publish-content .tabmenu li:hover a,
  body[data-theme="dark"] .publish-content .tabmenu li.active a {
    color: #eee;
  }
  body[data-theme="dark"] .skill-box .item {
    background: transparent;
  }
  body[data-theme="dark"] .skill-box .item .text h2,
  body[data-theme="dark"] .skill-box .item .text p {
    color: #EEEEEE;
  }
  body[data-theme="dark"] .about h1 {
    color: #eee;
  }
  body[data-theme="dark"] .about h2.dot::before {
    background: #D65A31;
  }
}