/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
}

/* Common CSS */
body {
  width: 100%;
  min-height: 100vh;
  color: #222;
  font-size: 62.5%;
  background: #fff;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1300px;
}
section {
  margin-bottom: 100px;
}
.inner {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  padding: 50px;
  /* border: 1px solid red; */
}
h1 {
  font-size: 36px;
  font-weight: 800;
}
h2 {
  position: relative;
  font-size: 24px;
  font-weight: 600;
}
h2.dot::before {
  content: '';
  position: absolute;
  left: -15px;
  top: -7px;
  width: 15px;
  height: 15px;
  background: #8088DC;
  border-radius: 50%;
}
.heading {
  position: relative;
  margin-bottom: 70px;
  text-align: center;
}
.heading h1 {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.heading span {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  color: #8088DC;
}
.heading h1::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #8088DC;
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  .container {
    min-width: 600px;
    margin: 0 auto;
  }
  .inner {
    width: 540px;
    padding: 25px;
  }
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background: #FFF;
  z-index: 999;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
}
header .logo {
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
nav a {
  display: inline-block;
  height: 60px;
  margin-left: 40px;
  line-height: 60px;
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  header .inner {
    padding: 0 20px;
  }
  nav {
    width: 360px;
    height: 100vh;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    background: #fff;
    border-radius: 30px 0 0 30px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  }
  nav a {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 0 50px;
    font-size: 30px;
    font-weight: 200;
  }
  nav a:hover {
    background: #e1e3f1;
  }
  .trigger-menu {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trigger-menu .icon {
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .trigger-menu .icon .bar {
    width: 100%;
    height: 4px;
    background: #222;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  .trigger-menu:hover {
    cursor: pointer;
  }
  .trigger-menu:hover .icon .bar:nth-child(2) {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
  }
  /* Mobile Trigger Menu */
  .container.triggerOn::before {  /* Overay */
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  .container.triggerOn nav {
    display: block;
  }
  .trigger-menu.triggerOn .icon {
    display: block;
  }
  .trigger-menu.triggerOn .icon .bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .trigger-menu.triggerOn .icon .bar:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .trigger-menu.triggerOn .icon .bar:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  .trigger-menu.triggerOn .icon .bar:nth-child(2) {
    display: none;
  }
  .trigger-menu.triggerOn .icon:hover .bar:nth-child(1) {
    transform: rotate(0deg);
  }
}

/* Intro Section */
.intro {
  padding: 140px 0;
}
.intro .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-heading h1 {
  color: #2f2f2f;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
}
.intro-heading h1 span {
  color: #8088DC;
}
.intro-heading p {
  margin-top: 50px;
}
.intro-heading p span {
  padding-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.intro-heading p span:hover {
  color: #ED4C67;
  cursor: default;
}
.intro-img {
  position: relative;
  width: 50%;
  padding: 50px;
  text-align: center;
}
.intro-img img {
  width: 500px;
}
.intro-img::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width: 60%;
  height: 90%;
  background: #FFB2CD;
  border-radius: 47% 53% 59% 41% / 47% 37% 63% 53% ;
  z-index: -1;
}
.intro-img:hover::before {
  animation: up-to-down 3s infinite;
}
@keyframes up-to-down {
  0% {
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  50% {
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%,-60%);
    -moz-transform: translate(-50%,-60%);
    -ms-transform: translate(-50%,-60%);
  }
  100% {
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  .intro .inner {
    flex-direction: column;
    padding: 0;
  }
  .intro-img {
    width: 100%;
    margin-top: 60px;
    padding: 30px;
  }
  .intro-img img {
    width: 400px;
  }
  .intro-img::before {
    animation: up-to-down 3s infinite;
  }
}

/* Portfolio 1 : Website Works Section */
.web-works .tabmenu {
  text-align: center;
  margin: 0 auto 100px;
}
.web-works .tabmenu li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  padding: 5px 20px;
  font-size: 21px;
}
.web-works .tabmenu li:hover,
.web-works .tabmenu li.active {
  color: #8088DC;
  cursor: pointer;
}
.web-works .tabmenu li::after {
  content: '';
  width: 70%;
  height: 3px;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: #8088DC;
}
.web-works .tabmenu li:hover::after,
.web-works .tabmenu li.active::after {
  display: block;
  animation: line 0.3s linear forwards;
}
.web-box {
  height: 330px;
  position: relative;
}
.web-content {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.web-content.active {
  display: flex;
}
.web-content .left {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.web-content .left img {
  width: 480px;
  height: 300px;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  object-fit: cover;
}
.web-content .left img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.web-content .right {
  width: calc(100% - 480px - 100px);
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.web-content .right p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 25px;
  padding-right: 40px;
}
.web-content .right .btns {
  margin-top: 40px;
}
.web-content .right .btns a {
  position: relative;
  margin-right: 30px;
  padding: 5px 45px 5px 20px;
  background: #fff;
  color: #222;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
}
.web-content .right .btns a::after {
  content: '\f178';
  font-family: FontAwesome;
  font-weight: 100;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transition: 0.4s;
}
.web-content .right .btns a:hover::after {
  right: 8px;
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  .web-box {
    height: 700px;
  }
  .web-works .tabmenu {
    margin: 0 auto 50px;
  }
  .web-content .left {
    margin-bottom: 60px;
  }
  .web-content .right {
    width: 100%;
    padding: 0 30px;
  }
  .web-content .right h2 {
    width: fit-content;
    margin: 0 auto;
  }
  .web-content .right .btns {
    margin: 50px auto;
  }
  .web-content .right .btns a {
    font-size: 18px;
    font-weight: 300;
  }
  .web-content.active {
    display: flex;
    flex-direction: column;
  }
}

/* Portfolio 2 : Publishing Application Section */
.publish-works {
  margin-bottom: 0;
  padding-bottom: 100px;
}
.publish-works .inner {
  padding: 0;
}
.publish-content {
  display: flex;
  padding-bottom: 50px;
}
.publish-content .tabmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 28%;
  height: 300px;
  background: #8088DC;
}
.publish-content .tabmenu li {
  width: 100%;
  padding: 0 40px;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  text-align: right;
}
.publish-content .tabmenu li:hover,
.publish-content .tabmenu li.active {
  color: #F3DD44;
  cursor: pointer;
}
/* Item Slider */
.publish-content .items-wrap {
  width: 1000px;
  height: 300px;
  position: relative;
}
.publish-content .items {
  width: 100%;
  height: 300px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.publish-content .items.active {
  display: block;
}
.publish-content .item {
  width: 300px !important;
  position: relative;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  overflow: hidden;
}
.publish-content .item.invisible {
  display: none;
}
.publish-content .items .item::after { 
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  transition: opacity 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
}
.publish-content .items .item:hover::after {
  opacity: 1;
  visibility: visible;
}
.publish-content .item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  object-fit: cover;
}
.publish-content .items .item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.publish-content .items .item:hover span {
  width: 100%;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  color: #fff;
  font-size: 20px;
  text-align: center;
  pointer-events: none; 
  z-index: 2;
}
.publish-content .items .item:hover span {
  display: block;
  font-size: 20px;
}
/* Slick Slider CSS */
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  padding: 0 50px;
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  .publish-works .inner {
    width: 540px;
    padding: 25px;
  }
  .publish-content {
    height: 700px;
    flex-direction: column;
  }
  .publish-content .tabmenu {
    width: 490px;
    height: auto;
    display: block;
    margin: 0 auto 100px;
    background: transparent;
    text-align: center;
  }
  .publish-content .tabmenu li {
    width: fit-content;
    display: inline-block;
    position: relative;
    margin: 0 10px;
    padding: 5px 20px;
    color: #222;
    font-size: 21px;
  }
  .publish-content .tabmenu li:hover,
  .publish-content .tabmenu li.active {
    color: #8088DC;
    cursor: pointer;
  }
  .publish-content .tabmenu li::after {
    content: '';
    width: 70%;
    height: 3px;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #8088DC;
  }
  .publish-content .tabmenu li:hover::after,
  .publish-content .tabmenu li.active::after {
    display: block;
    animation: line 0.3s linear forwards;
  }
  .publish-content .items-wrap {
    /* display: none; */
    width: 100%;
  }
  .publish-content .item {
    width: 235px !important;
    height: 235px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .publish-content .item:nth-child(even) {
    margin-right: 0;
  }
}

/* Skills Section */
.skill-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}
.skill-box .item {
  width: 460px;
  height: 280px;
  margin-bottom: 50px;
  padding: 50px 45px;
  background: #fff;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
}
.skill-box .item:hover:nth-child(even) {
  transform: skewX(5deg) skewY(-5deg);
  -webkit-transform: skewX(5deg) skewY(-5deg);
  -moz-transform: skewX(5deg) skewY(-5deg);
  -ms-transform: skewX(5deg) skewY(-5deg);
}
.skill-box .item:hover:nth-child(odd) {
  transform: skewX(-5deg) skewY(5deg);
  -webkit-transform: skewX(-5deg) skewY(5deg);
  -moz-transform: skewX(-5deg) skewY(5deg);
  -ms-transform: skewX(-5deg) skewY(5deg);
}
.skill-box .item .icon {
  margin-bottom: 20px;
}
.skill-box .item .icon i {
  font-size: 50px;
}
.skill-box .item:nth-child(1) .icon i {
  font-size: 60px;
  color: #ED4C67;
}
.skill-box .item:nth-child(2) .icon i {
  font-size: 60px;
  color: #EE5A24;
}
.skill-box .item:nth-child(3) .icon i {
  color: #A3CB38;
}
.skill-box .item:nth-child(4) .icon i {
  font-size: 45px;
  color: #FFC312;
}
.skill-box .item:nth-child(5) .icon i {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  background: #12CBC4;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  line-height: 45px;
}
.skill-box .item:nth-child(6) .icon i {
  font-size: 45px;
  color: #8088DC;
}
.skill-box .item .text h2 {
  margin-bottom: 5px;
}
.skill-box .item .text p {
  font-size: 15px;
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  .skill-box {
    width: 100%;
  }
  .skill-box .item {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: transparent;
    box-shadow: none;
  }
  .skill-box .item .icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 0;
    text-align: center;
  }
  .skill-box .item .text {
    width: 370px;
  }
  .skill-box .item:hover .icon {
    transform: scale(1.2);
  }
  .skill-box .item:hover:nth-child(even),
  .skill-box .item:hover:nth-child(odd) {
    transform: none;
  }
}

/* About Section */
.about {
  background: #eaeefc;
}
.about-box {
  display: flex;
  justify-content: space-between;
}
.about-box .left {
  width: 40%;
}
.about-box .left .left-inner {
  width: 100%;
  padding: 0 100px;
}
.about-box .right {
  width: 55%;
  padding: 30px;
  padding-right: 60px;
}
.profile-img {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}
.profile-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.profile-img::before {
  content: '';
  width: 100%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transition: transform 1s;
  background: #8088DC;
}
.profile-img::after {
  content: '';
  width: 100%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(50deg);
  -webkit-transform: translate(-50%,-50%) rotate(50deg);
  -moz-transform: translate(-50%,-50%) rotate(50deg);
  -ms-transform: translate(-50%,-50%) rotate(50deg);
  transition: transform 2s;
  background: #8088DC;
}
.about-box .left:hover .profile-img::before {
  transform: translate(-50%,-50%) rotate(180deg);
  -webkit-transform: translate(-50%,-50%) rotate(180deg);
  -moz-transform: translate(-50%,-50%) rotate(180deg);
  -ms-transform: translate(-50%,-50%) rotate(180deg);
}
.about-box .left:hover .profile-img::after {
  transform: translate(-50%,-50%) rotate(-60deg);
  -webkit-transform: translate(-50%,-50%) rotate(-60deg);
  -moz-transform: translate(-50%,-50%) rotate(-60deg);
  -ms-transform: translate(-50%,-50%) rotate(-60deg);
}
.profile-sns {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-sns .github {
  color: #2f2f2f;
  font-size: 32px;
}
.profile-sns .github:hover {
  color: #ED4C67;
}
.profile-sns .email {
  margin-left: 15px;
  color: #2f2f2f;
  font-size: 16px;
}
.profile-sns .email:hover {
  color: #ED4C67;
}
.profile-edu p {
  margin: 15px auto;
  font-size: 15px;
}
.about-box .right li {
  margin-bottom: 60px;
}
.about-box .right li:last-child {
  margin-bottom: 0;
}
.about-box .right li h2 {
  margin-bottom: 10px;
  font-size: 21px;
}
.about-box .right li p {
  font-size: 15px;
}
/* Mobile Media Query */
@media screen and (max-width:600px) {
  .about-box {
    flex-direction: column;
  }
  .about-box .left {
    width: 100%;
  }
  .about-box .left .left-inner {
    width: 400px;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
  }
  .profile-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
  }
  .profile-img img {
    width: 100%;
    height: 100%;
  }
  .profile-img::before,
  .profile-img::after {
    display: none;
  }
  .profile-sns .github {
    position: absolute;
    right: 90px;
    top: 30px;
  }
  .profile-sns .email {
    margin: 0 auto;
  }
  .profile-edu {
    margin-top: 30px;
    text-align: center;
  }
  .about-box .right {
    width: 100%;
    padding: 0;
  }
  .about-box .right li {
    width: 400px;
    height: auto;
    position: relative;
    margin: 30px auto;
    padding: 35px;
    background: #fff;
    border-radius: 15px;
  }
}

/* Featherlight CSS */
.featherlight iframe {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%  !important;
  position: absolute  !important;
  left: 0;
  top: 0;
  margin: 0  !important;
  padding: 0;
  overflow: hidden;
}
.featherlight .featherlight-close-icon {
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  right: 40px  !important;
  top: 15px  !important;
  font-size: 36px;
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
}
.featherlight .featherlight-close-icon:hover {
  color: red;
}