/* Web Fonts */
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: 'S-CoreDream-4Regular';
}
.container {
  width: 100%;
  height: 100vh;
  background: #f6fffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  text-align: center;
  margin-bottom: 100px;
}
.heading p {
  margin-bottom: 14px;
  position: relative;
}
.heading p::after {
  content: '';
  width: 30px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #ED4C67;
}
.heading h1 span {
  color: #ED4C67;
}
.card-box {
  width: 700px;
  height: 300px;
  position: relative;
  padding: 0 50px;
  background: #ED4C67;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.slide-wrap {
  width: 600px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}
.card {
  width: 600px;
  height: 100%;
  display: inline-block;
  margin-right: -4.75px;
  background: #fff;
}
.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.profile {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}
.profile h3 {
  width: fit-content;
  padding: 0 5px;
  background: #ED4C67;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}
.profile p {
  color: #777;
  font-size: 15px;
  margin-top: 2px;
}
.info {
  width: 65%;
  padding: 50px 20px;
}
.info h4 {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}
.info .intro {
  color: #777;
  font-size: 14px;
  white-space: normal;
  margin-bottom: 50px;
}
.info .contact {
  color: #999;
  font-size: 11px;
}
.info .contact span {
  display: block;
}
.card.active .info h4 {
  animation: up 0.5s linear forwards;
  animation-delay: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.card.active .info .intro {
  animation: up 0.5s linear forwards;
  animation-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.card.active .info .contact {
  animation: up 0.5s linear forwards;
  animation-delay: 0.7s;
  opacity: 0;
  visibility: hidden;
}
@keyframes up {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
}

/* Slide Buttons */
.slide-btn {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.slide-btn i {
  color: #fff;
  font-size: 30px;
}
#prev-btn {
  left: 0;
}
#next-btn {
  right: 0;
}
.slide-btn .btn {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}
.slide-btn:hover {
  background: rgba(255,255,255,0.15);
}
#prev-btn:hover .bt {
  transform: translateX(-7px);
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
}
#next-btn:hover .bt {
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
}