/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: #ddd;
}
.container {
  width: 1000px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  position: relative;
  margin-bottom: 50px;
  font-family: 'Koulen', cursive;
  color: #2f2f2f;
}
.container h1::before {
  content: '';
  width: 110%;
  height: 12px;
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%) skew(-25deg);
  background: orange;
  z-index: -1;
}
/* Item Section */
.items {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.items .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 20px;
}
.items .row:last-child {
  margin-bottom: 0;
}
.item {
  width: 31%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 30px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.item::before {
  content: '';
  width: 5px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: green;
}
.item:hover::before {
  animation: longer 0.3s linear forwards;
}
@keyframes longer {
  100% {
    width: 100%;
  }
}
/* Image */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(0.7);
}
.item:hover img {
  filter: grayscale(0);
}
/* Text */
.item .profile-txt {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.4s;
  z-index: 2;
}
.item .profile-txt h2 {
  font-size: 18px;
  font-weight: 500;
}
.item .profile-txt span {
  font-size: 14px;
  font-weight: 300;
}
.item:hover .profile-txt {
  color: #fff;
}
/* SNS Icons */
.sns-icons {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
  margin-top: 12px;
}
.sns-icons a {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 2px;
}
.sns-icons a.facebook {
  background: #3b5998;
}
.sns-icons a.twitter {
  background: #00acee;
}
.sns-icons a.instagram {
  background: #dd2a78;
}
.sns-icons a i {
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.sns-icons a:hover {
  opacity: 0.5;
}
/* Media Query */
@media screen and (max-width:768px) {
  .container h1 {
    margin-bottom: 100px;
  }
  .items {
    height: 450px;
  }
  .item {
    padding: 70px 10px;
    flex-direction: column;
  }
  .profile-img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .profile-img img {
    transition: transform 0.4s;
  }
  .item:hover .profile-img img {
    transform: scale(1.3);
  }
  .item .profile-txt {
    width: 100%;
  }
  .sns-icons {
    width: 60%;
  }
}