@import '_variables.scss';

/* Featherlight Custom CSS */
.featherlight-close-icon {
  width: 35px !important;
  height: 35px !important;
  background: $overay-30 !important;
  color: #fff !important;
}