* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #333;
  font-size: 26px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

/* Button Default CSS */
.btn-wrap {
  width: 120px;
  height: 60px;
  margin: 15px 0 50px;
  position: relative;
  background-color: dodgerblue;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  cursor: pointer;
}
.toggle {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
}
.toggle span {
  width: 80%;
  height: 80%;
  display: inline-block;
  background-image: linear-gradient(to top, #fff 0%, #e3e4e5 100%);
  border-radius: 50%;
}
/* Button Off */
.btn-wrap.off {
  background: #999;
}
.btn1.off .toggle {
  left: 55%;
}

/* Button 2 - Slow */
.btn2 .toggle {
  left: 9%;
  animation: slow-on 0.4s linear;
}
.btn2.off .toggle {
  left: 55%;
  animation: slow-off 0.4s linear;
}
@keyframes slow-on {
  0% {
    left: 55%;
  }
  100% {
    left: 9%;
  }
}
@keyframes slow-off {
  0% {
    left: 9%;
  }
  100% {
    left: 55%;
  }
}

/* Button 3 - Dark Mode */
/* off 상태에서 Dark Mode 적용 */
.btn3 {
  background: sandybrown;
}
.btn3.off {
  background: #999;
}
.btn3::before {
  content: '\f0e7';
  font-family: fontAwesome;
  font-size: 35px;
  color: sandybrown;
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
}
.btn3.off::before {
  content: '\f186';
  font-family: fontAwesome;
  font-size: 35px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
}
.btn3 .toggle {
  left: 9%;
  animation: slow-on 0.4s linear;
}
.btn3.off .toggle {
  left: 55%;
  animation: slow-off 0.4s linear;
}
h1.dark {
  color: #f2f3f4;
}
.container.dark {
  background: #222;
}