* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
}

.heading {
  position: absolute;
  top: 6%;
}
.items {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  width: 230px;
  margin: 0 10px;
  text-align: center;
}
.item > div {
  padding: 30px;
}
.item-top {
  background: #666;
  border-radius: 10px;
}
.item-top .image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  background: #fff;
  border-radius: 50%;
}
.item-top .image img {
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.item-bottom {
  background: #fff;
}
.item-bottom .description {
  margin-bottom: 25px;
}
.item-bottom .description h2 {
  font-size: 21px;
}
.item-bottom .description p {
  margin-top: 10px;
}
.btn-more {
  padding: 5px 20px;
  color: #fff;
  background: #666;
  border-radius: 50px;
}
.btn-more:hover {
  background: #ccc;
}
/* Hover Effect */
.item-top {
  transition: background 0.6s;
}
.item-bottom {
  display: none;
  overflow: hidden;
}
.item:hover .item-top {
  background: #fff;
  border-radius: 10px 10px 0 0;
}
.item:hover .item-bottom {
  display: block;
  border-radius: 0 0 10px 10px;
}
.item:hover .item-bottom .description h2 {
  animation: ltr 0.3s linear;
}
.item:hover .item-bottom .description p {
  animation: ltr 0.6s linear;
}
.item:hover .item-bottom .btn-more {
  animation: show 0.6s linear;
}
@keyframes ltr {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* attribution - flaticon */
.attribution {
  position: absolute;
  bottom: 5%;
  color: #666;
  text-decoration: none;
}